@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #443636;
  font-weight: 600;
}

p, span, label {
  font-family: "Lato", sans-serif;
  color: #696969;
  font-size: 18px;
}

.currency-smaller-text {
  font-size: 0.9rem;
  padding-left: 4px;
}

@media (min-width: 576px) {
  .currency-smaller-text {
    font-size: 1rem;
  }
}

.currency-smaller-text-checkout {
  font-size: 0.75rem;
  display: inline-block;
  padding-left: 2px;
  margin: 0px;
}

@media (min-width: 576px) {
  .currency-smaller-text-checkout {
    font-size: 1rem;
  }
}

.orderRow-smaller-text span, .orderRow-smaller-text p, .orderRow-smaller-text label {
  font-size: 0.85rem;
}

@media (min-width: 576px) {
  .orderRow-smaller-text span, .orderRow-smaller-text p, .orderRow-smaller-text label {
    font-size: 1rem;
  }
}

#sum span, #sum p, #sum label {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

@media (min-width: 360px) {
  h5 {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  h5 {
    font-size: 1.4rem;
  }
}

.navbar .logo-container img {
  height: 85px;
}

.navbar .badge {
  background-color: #edc5f5;
}

.btn-link:hover, .btn-link:active {
  text-decoration: none;
}

.popover .popover-header {
  background-color: #edc5f5;
}

.popover .popover-header span {
  color: #443636;
}

.popover .popover-header #cartclosebutton span {
  font-size: 1.3rem;
}

.popover .popover-body #cartItemQuantityContainer #button-circle {
  background-color: #edc5f5;
  font-size: 0.7rem;
  line-height: 1.3;
  color: #443636;
  border-radius: 50%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.popover .popover-body #cartItemQuantityContainer #cartProdDelButton {
  background-color: #edc5f5;
  font-size: 0.7rem;
  color: #443636;
  border-radius: 50%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.popover .popover-body #toCheckoutButton {
  color: #443636;
  background-color: #edc5f5;
}

footer .title {
  color: #d592e2;
  font-weight: 900;
  font-size: 1.2rem;
}

footer h4 {
  color: #edc5f5;
}

footer a {
  color: #696969;
  text-decoration: underline;
}

@media (min-width: 992px) {
  footer a {
    text-decoration: none;
  }
  footer a:hover {
    color: #d592e2;
    text-decoration: none;
  }
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  font-family: "Lato", sans-serif;
  list-style: none;
  color: #696969;
}

footer th.openingtime, footer td.openingtime {
  padding: 0;
}

footer table th, footer table td {
  font-family: "Lato", sans-serif;
}

footer #imgfb, footer #imgtwi, footer #imgig {
  height: 50px;
}

h1.checkoutheader {
  text-align: center;
  background-color: #edc5f5;
  font-size: 1.5rem;
  color: #443636;
}

#prodHeader {
  padding-left: 0;
  padding-right: 0;
}

#quantHeader {
  padding-left: 0.5rem;
  padding-right: 0;
}

@media (min-width: 768px) {
  #quantHeader {
    padding-left: 2rem;
  }
}

@media (min-width: 1024px) {
  #quantHeader {
    padding-left: 3.1rem;
  }
}

@media (min-width: 1200px) {
  #quantHeader {
    padding-left: 3.5rem;
  }
}

#priceHeader {
  padding-left: 0;
  padding-right: 0;
}

#totHeader {
  padding-left: 0;
  padding-right: 0;
}

.should-hyphenate {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (min-width: 768px) {
  #prodPrice {
    padding-left: 1.1rem;
  }
}

#minusButton, #plusButton, #deleteButton {
  font-size: 0.7rem;
  color: #443636;
  background-color: #edc5f5;
  border-radius: 50%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

#sum #vatTotal, #sum #sumTotal {
  padding-left: 2rem;
}

#sum p {
  font-size: 0.9rem;
}

#deleteButton {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.accordion .accordionButton {
  width: 100%;
  border-radius: 0;
  background-color: #edc5f5;
  border: 1px solid #d592e2;
  font-family: "Montserrat", sans-serif;
  color: #443636;
  font-weight: 600;
}

.accordion .accordionButton:hover {
  background-color: #d592e2;
}

.accordion form #customerDetails {
  padding: 1rem;
}

.accordion form #customerDetails label {
  font-size: 0.95rem;
}

.accordion form #customerDetails .form-group input {
  font-size: 0.9rem;
}

.accordion form #customerDetails .form-group #customerZip::-webkit-inner-spin-button,
.accordion form #customerDetails .form-group #customerZip::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media (min-width: 768px) {
  .accordion form #customerDetails {
    padding: 2rem;
  }
}

@media (min-width: 1400px) {
  .accordion form #customerDetails {
    padding: 5rem;
  }
}

@media (min-width: 1024px) {
  .accordion form #paymentMethod .radio {
    padding-left: 5rem;
    padding-right: 0;
  }
}

.accordion form #paymentMethod label {
  font-size: 0.8rem;
}

.accordion form #paymentMethod label input {
  margin-right: 0.5rem;
}

.accordion form #paymentMethod #payCardDiv {
  padding-right: 0;
}

.accordion form #paymentMethod #payCardDiv img.paycard {
  width: 30%;
  height: 40%;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .accordion form #paymentMethod #payCardDiv {
    padding-right: 5rem;
  }
}

@media (min-width: 1024px) {
  .accordion form #paymentMethod #payCardDiv {
    padding-left: 0;
    padding-right: 6rem;
  }
}

@media (min-width: 1400px) {
  .accordion form #paymentMethod #payCardDiv {
    padding-right: 10rem;
  }
}

.accordion form #paymentMethod a {
  font-size: 0.8rem;
}

.accordion form #termsoforder {
  text-align: center;
}

.accordion form #termsoforder p {
  font: "Lato", sans-serif;
  font-size: 0.9rem;
}

.accordion form #termsoforder a {
  display: block;
}

.accordion form #termsoforder #submitFormButton {
  background-color: #edc5f5;
  color: #443636;
}

.accordion form #termsoforder #submitFormButton:hover {
  background-color: #d592e2;
}

#on {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #edc5f5;
}

body {
  background-color: #FFFFFF;
}

body #myjumbotron {
  background-color: #FFFFFF;
}

@media (min-width: 1200px) {
  body #myjumbotron #myJumbotronImgContainer {
    width: 1026px;
  }
}

body .card .card-title {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

body .card .card-footer {
  background-color: #FFFFFF;
}

body .card .card-footer #descriptionbutton {
  background-color: #edc5f5;
  color: #696969;
  border-color: #edc5f5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .card .card-footer #descriptionbutton:hover {
  background-color: #d592e2;
}

body .card .card-footer #descriptionbutton:active {
  background-color: #774681;
}

body .card .productDescr {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 0.95rem;
}

body .card #addtocart {
  background-color: #edc5f5;
  color: #696969;
}

body .card #addtocart:hover {
  background-color: #d592e2;
}

body .card #addtocart:active {
  background-color: #774681;
}

@media (min-width: 576px) {
  body .card button {
    font-size: .95rem;
  }
}
/*# sourceMappingURL=main.css.map */